$primary-color: rgba(46, 49, 49, 1);
$secondary-color: rgba(243, 156, 18, 1);
$gradient-color: linear-gradient(to left bottom, rgba(44, 130, 201, 0.432), rgba(102, 51, 153, 0.479));
$show-home-image: true;
$home-image: url(../img/9_25.jpg);
$background-opacity: 0.7;


@mixin easeOut {
    transition: all 0.5s ease-out;
}

@mixin background {
    @if $show-home-image {
        &#bg-img {
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: rgba($primary-color, $background-opacity);
                box-shadow: inset 10px 10px 250px ($gradient-color), inset -10px -10px 250px ($gradient-color);


            }

        }

    }


}



// Set Text Color
@function set-text-color($color) {
    @if (lightness($color) > 40) {
        @return #000;
    }

    @else {
        @return #fff;
    }
}

// Media Query Mixins
@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}

@mixin mediaXl {
    @media screen and (min-width: 1171px) {
        @content;
    }
}